body {
  font-family: "Overpass Mono";
  color: white;
  background-color: #BAD6BD
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #D6BBBA;
  text-decoration: underline;
}

a:active {
  color: #D6BAD5;
  text-decoration: underline;
}

#home {
  text-align: center;
}

#home a {
  color: white;
  font-size: 30px;
}

#home img {
  height: 300px;
  width: 300px;
}

#writing {
  text-align: left;
  margin-left: 30px;
}

#writing h2 {
  margin-top: 40px;
  margin-bottom: 8px;
}

#writing a {
  text-align: left;
}

#writing li {
  font-size: 20px;
  margin-bottom: 10px;
}
